html,
body {
  padding: 0;
  margin: 5;
}

.bar {
  fill: rgb(234, 0, 255);
}

.bar:hover {
  fill: rgb(255, 123, 0);
  stroke: rgb(0, 0, 0);
  stroke-width: 3px;
}

 .tooltip {
  /* Note: display: none is what makes the tooltips not display by default */
  display: block;
  position: absolute;
  width: 150px;
  height: 70px;
  padding: 5px;
  font: 14px sans-serif;
  text-align: center;
  color: white;
  background-color: black;
  background: blue;
  border: 0;
  border-radius: 5px;
  border-bottom: 1px dotted beige; /* If you want dots under the hoverable text */
 }

 /* visibility: hidden;
 line-height: 1;
 line-height: 1.5em; */
